# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Build and target files
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE-specific files
.vscode/

### environment variables file ###
.env

# Exclude HELP.md from being tracked
HELP.md
